html, body {
  @include size(100%);
}

main, footer {
  @include outer-container;
  padding: 0 $side-padding;
}

section {
  padding: 3em 0;
}

footer {
  @include clearfix;

  a {
    color: darken($gray-light, 20);

    &:hover {
      color: $gray;
    }
  }

  p {
    color: darken($gray-light, 15);
    font-family: $sans-serif;
    font-size: $small-font-size;
    margin-bottom: .25em;

    @include media($medium-screen-up) {
      margin-bottom: 2rem;

      &:first-of-type {
        float: left;
      }

      &:last-of-type {
        float: right;
      }
    }
  }
}

.button {
  @extend %button;
}

.caption {
  color: darken($gray-light, 25);
  font-size: $small-font-size;

  a {
    color: darken($gray-light, 35);

    &:hover {
      color: $gray;
    }
  }
}

.section-title {
  color: $blue;
  font-weight: $thin-font-weight;
  margin-bottom: 1em;
  text-transform: uppercase;
}
