.landing {
  .header-bar {
    @include media($medium-screen) {
      display: none;
    }
  }

  .nav {
    @include media($medium-screen) {
      @include outer-container;
      @include position(absolute, null 0 null 0);
      @include size(100% auto);
      background: transparent;
      margin: 0 auto;
      overflow: visible;
    }
  }

  .pages {
    @include media($medium-screen) {
      @include shift(1);
      @include span-columns(10);
      @include transform(translateY(0));
      border-bottom: $nav-blue-border;
      top: 0;
      max-width: inherit;
    }

    &:after {
      @include media($medium-screen) {
        @include position(absolute, 2.85em 0px null 0px);
        @include size(2.5em 3.5em);
        background: image-url("train.png") center center no-repeat;
        background-size: auto 100%;
        content: "";
        display: block;
        margin: auto;
      }
    }

    li {
      @include media($medium-screen) {
        @include span-columns(2 of 8);
        border: 0;
        display: inline-block;

        &.page-blog, &.page-curriculum {
          a {
            text-align: right;
          }
        }
      }

      a {
        @include media($medium-screen) {
          padding: $nav-large-padding;
          text-align: left;
        }
      }
    }
  }
}

.hero {
  @include radial-gradient(50% 114%,
                            circle cover,
                            lighten($blue, 10) 21%,
                            $blue 80%);
  padding: 3em $side-padding;
  text-align: center;

  @include media($medium-screen) {
    padding: 6em $side-padding 4em;
  }

  .boston {
    background: image-url("boston.png") no-repeat center top;
    background-size: 100%;
    margin-bottom: 1em;
    padding: 20% 0 1em 0;
    position: relative;

    @include media($medium-screen) {
      @include outer-container;
      background-image: image-url("boston_2x.png");
      background-position: center center;
      background-size: 90%;
      padding: 9em 0 15% 0;
    }

    .gem {
      display: block;
      margin: 0 auto;
      max-width: 5em;

      @include media($medium-screen) {
        @include position(absolute, 40% 0px null 0px);
        max-width: 7em;
      }
    }
  }

  .title {
    color: $blue-light;
    font-size: $large-font-size;
    letter-spacing: 5px;
    text-shadow: $text-shadow;
    text-transform: uppercase;

    @include media($medium-screen) {
      font-size: 2em;
      margin-top: -5%;
      position: relative;
      z-index: $z-rbb-title;
    }

    span {
      color: $white;
      display: block;
      font-family: $serif;
      font-size: em(40);
      line-height: 1em;
      margin-top: .2em;

      @include media($medium-screen) {
        margin-top: .125em;
      }
    }
  }

  .register-link {
    @include button-callout($yellow);

    &:after {
      content: "\BB";
      margin-left: .35em;
    }
  }
}

.actionable-sections {
  padding: 0 $side-padding;

  @include media($medium-screen) {
    @include clearfix;
    @include outer-container;
    position: relative;
  }

  &:before {
    @include media($medium-screen) {
      @include position(absolute, null 0 null 0);
      @include size(1px 100%);
      background-color: $base-border-color;
      content: "";
      display: block;
      margin: auto;
    }
  }

  section {
    @include media($medium-screen) {
      padding-bottom: 5em;
      padding-top: 5em;
    }
  }
}

.next-workshop {
  @include media($medium-screen) {
    @include span-columns(5);
  }

  .workshop-title {
    font-family: $serif;
    font-weight: $base-font-weight;
  }

  .workshop-date {
    color: $gray-light;
    font-family: $sans-serif;
    font-size: $small-font-size;
    font-weight: $bold-font-weight;
  }

  .workshop-description {
    margin-top: 1em;
  }
}

.mailing-list {
  @include media($medium-screen) {
    @include shift(2);
    @include span-columns(5);
  }

  label {
    color: $gray-light;
  }

  input[type="submit"] {
    @include button-callout($gray);
  }
}

.summary {
  background-color: $gray-light;
  background-image: image-url("reflection.png"), image-url("workshop.png");
  background-position: center -10px, right bottom;
  background-repeat: repeat-x, no-repeat;
  background-size: auto, cover;

  @include media($medium-screen) {
    background-image: image-url("reflection_2x.png"),
                      image-url("workshop_2x.png");
    background-position: center -10px, center 25%;
    background-size: 70%, cover;
  }

  .wrap {
    padding: 1em inherit;

    @include media($medium-screen) {
      @include outer-container;
      padding: 5em inherit 1em;
    }
  }

  .text {
    margin-bottom: 3em;

    @include media($medium-screen) {
      @include span-columns(5);
    }

    .section-title {
      color: $white;
      margin-top: 1em;
    }

    .to-about {
      @extend %link-callout;
    }
  }

  .media {
    @include media($medium-screen) {
      @include shift(1);
      @include span-columns(6);
    }

    .video {
      @include size(100% 15em);
      border: 2px $base-border-color solid;
      border-radius: $base-border-radius;
      overflow: hidden;
      position: relative;

      @include media($medium-screen) {
        height: 20em;
      }

      &:after {
        @include position(absolute, 0 0 0 0);
        @include size(6em);
        @include transition;
        background: image-url("play.png") 56% 51% no-repeat;
        border: 4px $white solid;
        border-radius: 50%;
        content: "";
        display: block;
        margin: auto;
      }

      &:hover {
        cursor: pointer;

        &:after {
          background-color: $blue;
        }
      }

      iframe {
        @include size(100%);
        border: 0;
        display: none;
      }

      &.show-video {
        &:after {
          display: none;
        }

        iframe {
          display: block;
        }
      }
    }

    .caption {
      display: none;
    }
  }
}
