.landing {
  .header-bar {
    @include media($medium-screen) {
      display: none;
    }
  }

  .nav {
    @include media($medium-screen) {
      @include outer-container;
      @include position(absolute, null 0 null 0);
      @include size(100% auto);
      background: transparent;
      margin: 0 auto;
      overflow: visible;
    }
  }

  .pages {
    @include media($medium-screen) {
      @include shift(1);
      @include span-columns(10);
      @include transform(translateY(0));
      border-bottom: $nav-blue-border;
      top: 0;
      max-width: inherit;
    }

    li {
      @include media($medium-screen) {
        @include span-columns(2 of 10);
        border: 0;
        display: inline-block;
        padding: $nav-large-padding;
      }
    }
  }
}

.hero {
  @include radial-gradient(50% 114%,
                            circle cover,
                            lighten($blue, 10) 21%,
                            $blue 80%);
  padding: 3em $side-padding;
  text-align: center;

  @include media($medium-screen) {
    padding: 6em $side-padding 4em;
    position: relative;
  }

  &::before {
    @include media($medium-screen) {
      @include position(fixed, 0 0 0 0);
      @include size(1px 100vh);
      background: $blue-light;
      content: "";
      display: block;
      margin: 0 auto;
      z-index: $z-under;
    }
  }

  .boston {
    background: image-url("boston.png") no-repeat center top;
    background-size: 100%;
    margin-bottom: 1em;
    position: relative;

    @include media($medium-screen) {
      @include outer-container;
      background-image: image-url("boston_2x.png");
      background-position: center 4em;
      background-size: 90%;
      padding: 7em 0 1% 0;
    }

    img {
      max-width: 3rem;

      @include media($medium-screen) {
        max-width: 5rem;
      }
    }

    .gem {
      display: block;
      margin: 0 auto;
      max-width: 5em;

      @include media($medium-screen) {
        @include position(absolute, 40% 0px null 0px);
        max-width: 7em;
      }
    }
  }

  .title {
    color: $blue-light;
    font-size: $large-font-size;
    letter-spacing: 5px;
    margin-top: 1em;
    text-shadow: $text-shadow;
    text-transform: uppercase;

    @include media($medium-screen) {
      font-size: 2em;
      margin-top: 1.5em;
    }

    span {
      color: $white;
      display: block;
      font-family: $serif;
      font-size: em(40);
      line-height: 1em;
      margin-top: .2em;

      @include media($medium-screen) {
        margin-top: .125em;
      }
    }
  }

  .register-link {
    @extend %link-callout;
    color: $yellow;

    &:after {
      content: "\BB";
      margin-left: .35em;
    }

    &:hover {
      color: lighten($yellow, 20);
    }
  }
}

.upcoming,
.mailing-list {
  background: $white;
  padding: 3em $side-padding;
}

.upcoming {
  border-bottom: 3px $blue-light solid;
  margin: auto;

  @include media($medium-screen) {
    @include display(flex);
    @include padding(null 2.5em);
    border: 3px $blue-light solid;
    border-radius: $base-border-radius;
    margin: 20vh auto;
    max-width: 44em;
  }

  iframe {
    width: 100%;

    @include media($medium-screen) {
      max-width: em(300);
      order: 2;
    }
  }
}

.workshop {
  margin: 1.5em auto 0 auto;
  max-width: $small-screen;

  @include media($medium-screen) {
    @include flex(1);
    margin-right: 2em;
    margin-top: 0;
    order: 1;
  }

  p {
    margin: 0;

    &:first-of-type {
      font-weight: $bold-font-weight;
    }
  }

  .register-link {
    margin-top: 2em;
  }
}

.mailing-list {
  margin: 0 auto;
  max-width: $small-screen;

  @include media($medium-screen) {
    @include outer-container;
    @include padding(5em null);
    border-top: 1px $blue-light solid;
  }

  label {
    color: $gray-light;
  }

  input[type="submit"] {
    @include button-callout($secondary-button-color);
  }

  .text {
    @include media($medium-screen) {
      @include span-columns(4 of 10);
    }
  }

  #mc_embed_signup {
    @include media($medium-screen) {
      @include shift(1 of 10);
      @include span-columns(5 of 10);
    }
  }
}

.summary {
  background-color: $gray-light;
  background-image: image-url("reflection.png"), image-url("workshop.png");
  background-position: center -10px, right bottom;
  background-repeat: repeat-x, no-repeat;
  background-size: auto, cover;

  @include media($medium-screen) {
    background-image: image-url("reflection_2x.png"),
                      image-url("workshop_2x.png");
    background-position: center -10px, center 25%;
    background-size: 70%, cover;
  }

  .wrap {
    padding: 1em $side-padding;

    @include media($medium-screen) {
      @include outer-container;
      padding: 5em $side-padding 1em;
    }
  }

  .text {
    margin: 0 auto 3em auto;
    max-width: $small-screen;

    @include media($medium-screen) {
      @include span-columns(5);
    }

    .section-title {
      color: $white;
      margin-top: 1em;
    }

    .to-about {
      @extend %link-callout;
    }
  }

  .media {
    @include media($medium-screen) {
      @include shift(1);
      @include span-columns(6);
    }

    .video {
      @include size(100% 15em);
      border: 2px $base-border-color solid;
      border-radius: $base-border-radius;
      overflow: hidden;
      position: relative;

      @include media($medium-screen) {
        height: 20em;
      }

      &:after {
        @include position(absolute, 0 0 0 0);
        @include size(6em);
        @include transition;
        background: image-url("play.png") 56% 51% no-repeat;
        border: 4px $white solid;
        border-radius: 50%;
        content: "";
        display: block;
        margin: auto;
      }

      &:hover {
        cursor: pointer;

        &:after {
          background-color: $blue;
        }
      }

      iframe {
        @include size(100%);
        border: 0;
        display: none;
      }

      &.show-video {
        &:after {
          display: none;
        }

        iframe {
          display: block;
        }
      }
    }

    .caption {
      display: none;
    }
  }
}
