html, body {
  @include size(100%);
}

section {
  padding: 3em $side-padding;
}

.button {
  @extend %button;
}

.caption {
  color: darken($gray-light, 25);
  font-size: $small-font-size;

  a {
    color: darken($gray-light, 35);

    &:hover {
      color: $gray;
    }
  }
}

.section-title {
  color: $gray-light;
  font-weight: $thin-font-weight;
  margin-bottom: 1em;
  text-transform: uppercase;
}
