<% content_for(:title, "Donate") %>
<% content_for(:page_class, "donate") %>

<main>
  <h1>Donate</h1>

  <h2 class="section-title">
    RailsBridge is run entirely on donations of money, time, and expertise.
  </h2>

  <p>
    If your <strong>company or organization</strong> can help us make tech more welcoming and more diverse, we'd love your help. We're always looking for sponsors to help cover the cost of food and drinks for the workshop.
  </p>

  <ul class="organization-cta">
    <li><a class="cta-email" href="mailto:rbbsponsorships@gmail.com">Get in touch with us</a></li>
    <li><a class="cta-prospectus" href="http://www.railsbridgeboston.org/sponsorship_prospectus.pdf">View Prospectus</a></li>
  </ul>

  <p>
    If you'd like to contribute as an <strong>individual</strong>, you can do so via PayPal.
  </p>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donate-form">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="73FLE9A86Y9EW">
    <input type="submit" value="Support RailsBridge Boston">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</main>
