<% content_for(:title, "Donate") %>
<% content_for(:page_class, "donate") %>

<main>
  <h1>Donate</h1>

  <h2 class="section-title">
    RailsBridge is run entirely on donations of money, time, and expertise.
  </h2>

  <p>
    We're always looking for sponsors to help cover expenses we incur in order
    to run our workshops. This includes, but is not limited to, the cost of food
    and drinks for our students and volunteers.
  </p>

  <p>
    If you or your organization would like to help offset these costs, let's chat!
  </p>

  <ul class="organization-cta">
    <li><a class="cta-email" href="mailto:rbbsponsorships@gmail.com">Get in touch with us</a></li>
    <li><a class="cta-prospectus" href="/sponsorship_prospectus.pdf">View Prospectus</a></li>
  </ul>

  <p>
    If you'd like to make a contribution without being an official sponsor, you can do so using the button below.
  </p>

  <small class="donation-note">
    All donations are provided to Bridge Foundry, Inc. as
    <a href="https://rebrand.ly/bridge-foundry-unrestricted-funds">unrestricted funds</a>.
  </small>

  <a href="https://opencollective.com/railsbridge-boston/donate" target="_blank">
    <img src="https://opencollective.com/railsbridge-boston/donate/button@2x.png?color=blue" width=300 />
  </a>
</main>
