<% content_for(:title, "Schedule") %>
<% content_for(:page_class, "schedule") %>

<main>
  <h1>Schedule</h1>

  <p>This is a rough idea of what our schedule will look like for the workshop.</p>

  <table class="tables">
    <thead>
      <tr>
        <th colspan="3">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6:45pm</td>
        <td colspan="2">Come in, have pizza, mingle</td>
      </tr>
      <tr>
        <td>7:00pm</td>
        <td colspan="2">Settle in</td>
      </tr>
      <tr>
        <td>7:10pm</td>
        <td colspan="2">Welcome and introductions</td>
      </tr>
      <tr>
        <td>7:20pm</td>
        <td colspan="2">What is Ruby? What is Ruby on Rails?</td>
      </tr>
      <tr>
        <td>7:30pm</td>
        <td colspan="2">Intro to the Command Line</td>
      </tr>
      <tr>
        <td>7:45pm</td>
        <td colspan="2">Install workshop software</td>
      </tr>
    </tbody>
  </table>

  <table class="tables">
    <thead>
      <tr>
        <th colspan="3">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9:15am</td>
        <td colspan="2">Come in, have breakfast, mingle</td>
      </tr>
      <tr>
        <td>9:30am</td>
        <td colspan="2">Settle in</td>
      </tr>
      <tr>
        <td>9:40am</td>
        <td colspan="2">Opening notes, introduce sponsors and volunteers</td>
      </tr>
      <tr>
        <td>10:00pm</td>
        <td colspan="2">Intro to Ruby</td>
      </tr>
      <tr>
        <td>11:15pm</td>
        <td colspan="2">Models, Scaffolding, and Migrations</td>
      </tr>
      <tr>
        <td>12:00pm</td>
        <td colspan="2">LUNCH!</td>
      </tr>
      <tr>
        <td>1:00pm</td>
        <td colspan="2">The Model-View-Controller (MVC) Architecture</td>
      </tr>
      <tr>
        <td>1:30pm</td>
        <td colspan="2">Navigation, Links, and Routes</td>
      </tr>
      <tr>
        <td>2:00pm</td>
        <td colspan="2">BREAK!</td>
      </tr>
      <tr>
        <td>2:15pm</td>
        <td colspan="2">Break Out Sessions (Topics TBD) - Session 1</td>
      </tr>
      <tr>
        <td>3:15pm</td>
        <td colspan="2">Break Out Sessions (Topics TBD) - Session 2</td>
      </tr>
      <tr>
        <td>4:15pm</td>
        <td colspan="2">Closing Notes</td>
      </tr>
      <tr>
        <td>4:30pm</td>
        <td colspan="2">Post-workshop celebration!</td>
      </tr>
    </tbody>
  </table>
</main>
