<% content_for(:title, "Schedule") %>
<% content_for(:page_class, "schedule") %>

<main>
  <h1>Schedule</h1>

  <p>This is a rough idea of what our schedule will look like for the workshop.</p>

  <table class="tables">
    <thead>
      <tr>
        <th colspan="3">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6:30pm</td>
        <td colspan="2">Come in, have pizza, mingle, settle in</td>
      </tr>
      <tr>
        <td>7:00pm</td>
        <td colspan="2">Welcome and introductions</td>
      </tr>
      <tr>
        <td>7:10pm</td>
        <td colspan="2">Download and install software</td>
      </tr>
      <tr>
        <td>7:30pm</td>
        <td colspan="2">Presentation: Intro to the Command Line</td>
      </tr>
      <tr>
        <td>7:50pm</td>
        <td colspan="2">Set up virtual machine</td>
      </tr>
    </tbody>
  </table>

  <table class="tables">
    <thead>
      <tr>
        <th colspan="3">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9:30am</td>
        <td colspan="2">Come in, have breakfast, mingle, settle in</td>
      </tr>
      <tr>
        <td>10:00am</td>
        <td colspan="2">Opening notes and sponsor introductions</td>
      </tr>
      <tr>
        <td>10:10am</td>
        <td colspan="2">Presentations &amp; curriculum work: Ruby and Ruby on Rails</td>
      </tr>
      <tr>
        <td>12:00pm</td>
        <td colspan="2">LUNCH!</td>
      </tr>
      <tr>
        <td>1:00pm</td>
        <td colspan="2">Q&amp;A with TAs</td>
      </tr>
      <tr>
        <td>1:30pm</td>
        <td colspan="2">More presentations &amp; curriculum work: Ruby on Rails</td>
      </tr>
      <tr>
        <td>3:30pm</td>
        <td colspan="2">BREAK!</td>
      </tr>
      <tr>
        <td>5:00pm</td>
        <td colspan="2">Closing Notes</td>
      </tr>
      <tr>
        <td>5:30pm</td>
        <td colspan="2">Post-workshop celebration!</td>
      </tr>
    </tbody>
  </table>
</main>
