<footer>
  <p>Get in touch via
    <%= link_to "email", "mailto:railsbridgeboston@gmail.com" %>
    or
    <%= link_to "@RailsBridgeBos", "https://twitter.com/RailsBridgeBos" %>
  </p>
  <p>Site design by <%= link_to "thoughtbot", "http://www.thoughtbot.com" %></p>
</footer>
