<header>
  <div class="outer-container">
    <div class="header-bar">
      <%= link_to "/", class: "logo" do %>
        RailsBridge <span>Bos</span>
      <% end %>

      <%= link_to "Menu", "#!", class: "nav-toggle" %>
    </div>

    <%= render "nav" %>
  </div>
</header>

