<footer>
  <p><%= link_to "@RailsBridgeBoston", "https://twitter.com/RailsBridgeBos" %></p>
  <p>Site maintained by <%= link_to "@mxie", "https://twitter.com/mxie" %>, <%= link_to "@conchan", "https://twitter.com/conchan" %></p>
</footer>
