<header>
  <div class="header">
    <% link_to "/" do %>
      RailsBridge <span>Bos</span>
    <% end %>

    <%= link_to "Menu", "#!", class: "nav-toggle" %>
  </div>

  <%= partial "nav" %>
</header>
