---
title: Class Levels - RailsBridge Boston
---

<main>
  <h1>Class Levels</h1>

  <h3>Below is a list of class levels. Pick the one that best describes your
  current experience level when you register for our workshop.</h3>

  <section class="levels level-1">
    <h2 class="section-title">Totally New to Programming</h2>
    <ul>
      <li>You have little to no experience with the terminal or a graphical IDE.</li>
      <li>You might have done a little bit with HTML or CSS, but not necessarily.</li>
      <li>You're unfamiliar with terms like methods, arrays, lists, hashes, or dictionaries.</li>
    </ul>
  </section>

  <section class="levels level-2">
    <h2 class="section-title">Somewhat New to Programming</h2>
    <ul>
      <li>You may have used the terminal a little — to change directories, for instance.</li>
      <li>You might have done an online programming tutorial or two.</li>
      <li>You don't have a lot of experience with Rails.</li>
      <li>You know what a method is.</li>
      <li>You aren't totally clear on how a request gets from the browser to your app.</li>
    </ul>
  </section>

  <section class="levels level-3">
    <h2 class="section-title">Some Rails Experience</h2>
    <ul>
      <li>You're comfortable using the terminal, but not necessarily a Power User.</li>
      <li>You have a general understanding of a Rails app's structure, perhaps from a prior workshop or tutorial.</li>
      <li>You know how to define a method in Ruby.</li>
      <li>You have a decent handle on Ruby arrays and hashes.</li>
    </ul>
  </section>

  <section class="levels level-4">
    <h2 class="section-title">Other Programming Experience</h2>
    <ul>
      <li>You're proficient in another language and understand general programming concepts, like collections and scope.</li>
      <li>You're new to Ruby and Rails</li>
      <li>You might be familiar with version control and basic web architecture</li>
    </ul>
  </section>
</main>
