---
title: Thank you! - RailsBridge Boston
---

<main>
  <h1>
    Thanks!
    <%= image_tag "heart.svg", class: "thanks-heart" %>
  </h1>
  <p>
    Thank you for your support. Every little bit counts to help us work towards our initiative and keep these workshops running.
  </p>
  <%= link_to "Back to homepage", "/" %>
</main>
